{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Simple registration form</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'teammade.css' %}">
  </head>
  <body>
    <form method="post" action="/maketeam">
      {% csrf_token %}
    <div class="main-block" style="text-align:center;">
      <h1 style="color: #100f0f;">TEAMMATE-1</h1>
        <label id="icon" for="name"><i class="fas fa-envelope"></i></label>
        <input type="text" name="enrollment1" id="name" placeholder="Enrollment No." required/>
        <label id="icon" for="name"><i class="fas fa-envelope"></i></label>
        <input type="text" name="admission1" id="name" placeholder="Admission No." required/>
        <label id="icon" for="name"><i class="fas fa-user"></i></label>
        <input type="text" name="name1" id="name" placeholder="Name" required/>
        <label id="icon" for="name"><i class="fas fa-envelope"></i></label>
        <input type="text" name="email1" id="name" placeholder="Email" required/>
        <label id="icon" for="name"><i class="fas fa-unlock-alt"></i></label>
        <input type="text" name="phone1" id="name" placeholder="Phone No." required/>
    </div>
    <div class="main-block" style="text-align:center;">
      <h1 style="color: #100f0f;">TEAMMATE-2</h1>
        <label id="icon" for="name"><i class="fas fa-envelope"></i></label>
        <input type="text" name="enrollment2" id="name" placeholder="Enrollment No." required/>
        <label id="icon" for="name"><i class="fas fa-envelope"></i></label>
        <input type="text" name="admission2" id="name" placeholder="Admission No." required/>
        <label id="icon" for="name"><i class="fas fa-user"></i></label>
        <input type="text" name="name2" id="name" placeholder="Name" required/>
        <label id="icon" for="name"><i class="fas fa-envelope"></i></label>
        <input type="text" name="email2" id="name" placeholder="Email" required/>
        <label id="icon" for="name"><i class="fas fa-unlock-alt"></i></label>
        <input type="text" name="phone2" id="name" placeholder="Phone No." required/>
    </div>
    <div class="main-block" style="text-align:right;">
      <h1 style="color: #100f0f;">TEAMMATE-3</h1>
        <label id="icon" for="name"><i class="fas fa-envelope"></i></label>
        <input type="text" name="enrollment3" id="name" placeholder="Enrollment No." required/>
        <label id="icon" for="name"><i class="fas fa-envelope"></i></label>
        <input type="text" name="admission3" id="name" placeholder="Admission No." required/>
        <label id="icon" for="name"><i class="fas fa-user"></i></label>
        <input type="text" name="name3" id="name" placeholder="Name" required/>
        <label id="icon" for="name"><i class="fas fa-envelope"></i></label>
        <input type="text" name="email3" id="name" placeholder="Email" required/>
        <label id="icon" for="name"><i class="fas fa-unlock-alt"></i></label>
        <input type="text" name="phone3" id="name" placeholder="Phone No." required/>
    </div>
    <div style="text-align:centre;">              
      <button name="submit"  href="/mainpage" type="submit" id="submit" >SUBMIT</button> 
  </div>
</form>
  </body>
</html>
