<!-- 
  **************
  Contest Entry for Treehouse:
  "Design a Contact Form"
  Submitted by Lisa Wagner
  **************
-->
{% load static %}
<link rel="stylesheet" href="{% static 'maketeam.css' %}">
<div id="contact-form" >
  <div>
    <h1 style="color:#C3447A; text-align:center;">MAKE TEAM</h1> 
    <!--<div>
      <label for="name">
        <span class="required" style="color:#a25fcb;">Registration No:</span> 
        <input type="text" id="regnumber" name="regnumber" value="{{regno}}" readonly />
      </label> 
    </div>-->
    <h2 style="color:#C3447A;">Enter Details of Team Members.</h2> 
    <h4 style="color:#C3447A;">Enter Details of Member 1st.</h4> 
  </div>
  <form method="post" action="/second_year">
      {% csrf_token %}
      {% for message in messages %}
        {% if message.tags == 'error' %}
          {{ message }}
          {% endif %}
          {% endfor%}
        <div>
                <label for="name">
                  <span class="required" style="color:#a25fcb;">Enrollment No: *</span> 
                  <input type="text" id="name" name="enrollment4" value="" placeholder="Enrollment No." required="required" tabindex="1" autofocus="autofocus" />
                </label> 
            </div>
        <div>
                <label for="name">
                  <span class="required" style="color:#a25fcb;">Admission No: *</span> 
                  <input type="text" id="name" name="admission4" value="" placeholder="Admission No:" required="required" tabindex="1" autofocus="autofocus" />
                </label> 
            </div>
        <div>
            <label for="name">
              <span class="required" style="color:#a25fcb;">Name: *</span> 
              <input type="text" id="name" name="name4" value="" placeholder="Name" required="required" tabindex="1" autofocus="autofocus" />
            </label> 
        </div>
        <div>
            <label for="email">
              <span class="required" style="color:#a25fcb;">Email: *</span>
              <input type="email" id="email" name="email4" value="" placeholder="Email ID" tabindex="2" required="required" />
            </label>  
        </div>
        <div>
            <label for="name">
              <span class="required" style="color:#a25fcb;">Phone No: *</span> 
              <input type="text" id="name" name="phone4" value="" placeholder="Phone No" required="required" tabindex="1" autofocus="autofocus" />
            </label> 
        </div>
        <h4 style="color:#C3447A;">Enter Details of Member 2nd.</h4> 
        <div>
            <label for="name">
              <span class="required" style="color:#a25fcb;">Enrollment No: *</span> 
              <input type="text" id="name" name="enrollment5" value="" placeholder="Enrollment No." required="required" tabindex="1" autofocus="autofocus" />
            </label> 
        </div>
    <div>
            <label for="name">
              <span class="required" style="color:#a25fcb;">Admission No: *</span> 
              <input type="text" id="name" name="admission5" value="" placeholder="Admission No:" required="required" tabindex="1" autofocus="autofocus" />
            </label> 
        </div>
    <div>
        <label for="name">
          <span class="required" style="color:#a25fcb;">Name: *</span> 
          <input type="text" id="name" name="name5" value="" placeholder="Name" required="required" tabindex="1" autofocus="autofocus" />
        </label> 
    </div>
    <div>
        <label for="email">
          <span class="required" style="color:#a25fcb;">Email: *</span>
          <input type="email" id="email" name="email5" value="" placeholder="Email ID" tabindex="2" required="required" />
        </label>  
    </div>
    <div>
        <label for="name">
          <span class="required" style="color:#a25fcb;">Phone No: *</span> 
          <input type="text" id="name" name="phone5" value="" placeholder="Phone No" required="required" tabindex="1" autofocus="autofocus" />
        </label> 
    </div>
    <h4 style="color:#C3447A;">Enter Details of Member 3rd.</h4> 
        <div>
            <label for="name">
              <span class="required" style="color:#a25fcb;">Enrollment No: *</span> 
              <input type="text" id="name" name="enrollment6" value="" placeholder="Enrollment No." required="required" tabindex="1" autofocus="autofocus" />
            </label> 
        </div>
    <div>
            <label for="name">
              <span class="required" style="color:#a25fcb;">Admission No: *</span> 
              <input type="text" id="name" name="admission6" value="" placeholder="Admission No:" required="required" tabindex="1" autofocus="autofocus" />
            </label> 
        </div>
    <div>
        <label for="name">
          <span class="required" style="color:#a25fcb;">Name: *</span> 
          <input type="text" id="name" name="name6" value="" placeholder="Name" required="required" tabindex="1" autofocus="autofocus" />
        </label> 
    </div>
    <div>
        <label for="email">
          <span class="required" style="color:#a25fcb;">Email: *</span>
          <input type="email" id="email" name="email6" value="" placeholder="Email ID" tabindex="2" required="required" />
        </label>  
    </div>
    <div>
        <label for="name">
          <span class="required" style="color:#a25fcb;">Phone No: *</span> 
          <input type="text" id="name" name="phone6" value="" placeholder="Phone No" required="required" tabindex="1" autofocus="autofocus" />
        </label> 
    </div>
        <div>              
            <button name="submit"  href="/mainpage" type="submit" id="submit" >SUBMIT</button> 
        </div>
         </form>
  
    </div>
