<!DOCTYPE html>
<html>
    <head>
        <title>Team Details</title>
    </head>
    <body>
        {{ details }}
        <table>
            <thead>
                <tr>
                    <th>
                        {{Team.enrollment1}}
                    </th>
                    <th>
                        {{Team.admission1}}
                    </th>
                    <th>
                        {{Team.name1}}
                    </th>
                    <th>
                        {{Team.email1}}
                    </th>
                    <th>
                        {{Team.phone1}}
                    </th>
                    <th>
                        {{Team.enrollment2}}
                    </th>
                    <th>
                        {{Team.admission2}}
                    </th>
                    <th>
                        {{Team.name2}}
                    </th>
                    <th>
                        {{Team.email2}}
                    </th>
                    <th>
                        {{Team.phone2}}
                    </th>
                    <th>
                        {{Team.enrollment3}}
                    </th>
                    <th>
                        {{Team.admission3}}
                    </th>
                    <th>
                        {{Team.name3}}
                    </th>
                    <th>
                        {{Team.email3}}
                    </th>
                    <th>
                        {{Team.phone3}}
                    </th>
                </tr>
            </thead>
        </table>
    </body>
    </html>