{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Galgotias University</title>
    <link rel="stylesheet" href="{% static 'webpage.css' %}">
</head>
<body>

    <div class="main">
        <div class="navbar">
            <div class="icon">
                <h2 class="logo"><img src= {% static 'backend/images/GU.png'%} width="250"  height="60"></h2>
            </div>
            <div class="menu">
                <ul>
                    <li><a href="#">HOME</a></li>
                    <li><a href="https://www.youtube.com/watch?v=jn2nT-VI2Dk">ABOUT</a></li>
                    <li><a href="#">PROJECTS</a></li>
                    <li><a href="#">CONTACT</a></li>
                </ul>
            </div>

            <div class="search">
                <input class="srch" type="search" name="" placeholder="Type Here">
                <a href="#"> <button class="btn">Search</button></a>
            </div>

        </div> 
        <div class="content">
            <h1><u>Galgotias University</u><br><span>Project</span> <br>Management <y style="color: #ff7200;">:</y></h1>
            <p class="par">No university in the world has ever risen to greatness
                without a correspondingly great library<br> When this is no longer true, 
                 then will our civilization have come to an end.<br>Teacher can open the door, but you must enter 
                 it yourself by clicking button.</p>
                <button class="cn"><a href="/signin">Log In</a></button>
                    </div>
                </div>
        </div>
    </div>
</body>
</html>